name: Leetcode-go
on: [push]
jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v1

    - name: Set up Go 1.22.1
      uses: actions/setup-go@v5
      with:
        go-version: 1.22.1

    - name: Run tests
      run: go test ./...
